<!-- !FOOTER -->
<footer>
    <ul class="social">
        <li><a href="javascript:void(0)">a</a></li>
        <li><a href="javascript:void(0)">b</a></li>
        <li><a href="javascript:void(0)">c</a></li>
        <li><a href="javascript:void(0)">d</a></li>
    </ul>
    <div class="footer-informazione">
        <ul>
            <li><a href="javascript:void(0)">FAQ</a></li>
            <li><a href="javascript:void(0)">Help Renter</a></li>
            <li><a href="javascript:void(0)">Account</a></li>
            <li><a href="javascript:void(0)">Media Renter</a></li>
            <li><a href="javascript:void(0)">Investor Relations</a></li>
            <li><a href="javascript:void(0)">Jobs</a></li>
            <li><a href="javascript:void(0)">Redeem Gift Cards</a></li>
            <li><a href="javascript:void(0)">Buy Gift Cards</a></li>
            <li><a href="javascript:void(0)">Ways to Watch</a></li>
            <li><a href="javascript:void(0)">Terms of Use</a></li>
            <li><a href="javascript:void(0)">Privacy</a></li>
            <li><a href="javascript:void(0)">Cookie Preferences</a></li>
            <li><a href="javascript:void(0)">Corporate Information</a></li>
            <li><a href="javascript:void(0)">Contact Us</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>&copy; 2023-Netflix</p>
    </div>
</footer>
<!-- !FOOTER -->