h2>em {
   color: #f00;
}

div.routerOutlet {
   display: flex;
   justify-content: center;
   /* background-color: #18a95e; */
}

h2 {
   margin-top: 4rem;
   text-align: center;
   font-family: serif;
}

mat-progress-spinner {
   margin: 0 auto;
}

/* #videoYouTube {
   width: 70%;
   background-color: #00ab1a;
} */