mat-dialog-content, mat-dialog-actions {
    background-color: #080808f3;
}

mat-dialog-actions button {
    background-color: rgba(255, 255, 0, 0.58);
    transition: 400ms ease-in;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    -ms-transition: 400ms ease-in;
    -o-transition: 400ms ease-in;
}

mat-dialog-actions button:hover {
    background-color: rgba(255, 255, 0, 0.817);
}

h2 {
    color: #fff;
    font-family: serif;
}

em {
    color: #ff0000 ;
}