mat-card {
    background-color: #E50914;
}

h1 {
    margin-left: 1.5rem;
}

h1 em {
    color: #f00;
}

div.contenitoreButton {
    display: flex;
    justify-content: end;

}

div.contenitoreButton button {
    background-color: #E50914;
    position: relative;
    bottom: 50px;
    right: 20px;

    transition: 400ms ease-in;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    -ms-transition: 400ms ease-in;
    -o-transition: 400ms ease-in;
}

div.contenitoreButton button:hover {
    background-color: #ffffff;
    color: #E50914;
}

/* ! poster */
.grid {

    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /** oppure 1fr 1fr 1fr */

    gap: 50px;
    /* ! ATTENZIONE: se metto la % come unità di misura. dopo ogni chiamata al server ,il gap VERTICALE AUMENTA SEMPRE DI PIU' .Per cui devo usare gap verticale in "px" */
}

mat-card {


    max-width: 400px;
    color: #000;


    /* margin-bottom: 1rem; */
}

mat-card img {
    display: block;
    /* margin-left: 2rem; */
    margin: 0 auto;

    /* max-width: 250px; */
    width: 80%;
    margin-bottom: 1.5rem;
}

mat-card-content>span {
    margin-left: 3.5rem;


}

/* ! poster */


mat-card-content button[type="button"] {
    background-color: rgba(255, 255, 0, 0.58);
    margin-top: 1rem;
    transition: 400ms ease-in;
    -webkit-transition: 400ms ease-in;
    -moz-transition: 400ms ease-in;
    -ms-transition: 400ms ease-in;
    -o-transition: 400ms ease-in;
}

mat-card-content button[type="button"]:hover {

    background-color: rgba(255, 255, 0, 0.817);

}

mat-card mat-card-title {
    text-align: center;
}

h1#h1 {
    margin: 3rem 1.5rem;
}

/* !media query */
@media screen and (max-width: 870px) {
    .grid {

        grid-template-columns: repeat(2, 1fr);
        /** oppure 1fr 1fr  */

        column-gap: 10px;
        row-gap: 50px
            /* ! ATTENZIONE: se metto la % come unità di misura; dopo ogni chiamata al server ,il gap VERTICALE AUMENTA SEMPRE DI PIU' .Per cui devo usare gap verticale in "px" */

    }

    mat-card {
        width: 90%;

    }

    mat-card img {
        width: 100%;

    }

    .grid .descrizione {
        position: absolute;
        top: 112px;
        left: 0px;
        /* width: 1px !important; */

    }

    mat-card-content>span {
        display: block;
        margin-left: 0;
    }

    mat-card:hover {
        transform: scale(110%);
        -webkit-transform: scale(110%);
        -moz-transform: scale(110%);
        -ms-transform: scale(110%);
        -o-transform: scale(110%);
    }

}



/* !media query */



@media screen and (max-width: 400px) {

    .grid {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    mat-card {
        width: 70%;

    }


    h1 {
        font-size: .9rem;
    }
    

}