div.contenitorePrincipaleForm {
    width: 20%;
    /* background-color: #bb2b2b; */
    margin: 0 auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f00;
    /* background-color: #13a04588; */


}

form {
    background-color: #0000007a;
}

form button {
    background-color: rgba(148, 57, 57, 0.337);
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

form button.buttonAbilitato {
    background-color: #f00;


}


div h4 {
    text-align: center;
    font-family: serif;
    /* background-color: #4762bd; */
    /* width: 10%; */

    
}

div h4 em {
    color: #f00;
    display: block;

    font-size: .9rem;
}

div h4 em:last-child {
    font-size: .8rem;
}


